<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrossSum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C3C3F1D215995EE00BD026A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3C3F31215995F000BD026A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3C3F3C215995F000BD026A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
